In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Dummy_Dataset.xlsx')

In [3]:
df.head()

,Name,Stage Name,Amount,Close Date,Type,Lead Source,Created Date,Loss Reason,Project Name,Project Location
0,Client 1,Lost order,5616.0,2019-04-22,New Business,Phone,2019-04-30 08:49:52,Price,Project 1,Abu Dhabi Region
1,Client 2,Lost order,1840.0,2019-01-29,NaN,NaN,2019-04-27 07:43:51,NaN,Project 2,Abu Dhabi
2,Client 3,Lost order,0.0,2019-01-21,NaN,NaN,2019-04-27 07:16:53,NaN,Project 3,Abu Dhabi
3,Client 4,Lost order,37370.0,2019-04-13,New Business,Phone,2019-04-29 13:46:46,No Decision / Non-Responsive,Project 4,Abu Dhabi
4,Client 5,Lost order,4720.0,2019-04-13,New Business,Phone,2019-04-29 12:33:56,Other,Project 5,Abu Dhabi

In [4]:
df.rename(columns = {'Name':'Client Name', 'Stage Name':'Order Result', 'Type':'Business Type'}, inplace=True)

In [5]:
df.head()

,Client Name,Order Result,Amount,Close Date,Business Type,Lead Source,Created Date,Loss Reason,Project Name,Project Location
0,Client 1,Lost order,5616.0,2019-04-22,New Business,Phone,2019-04-30 08:49:52,Price,Project 1,Abu Dhabi Region
1,Client 2,Lost order,1840.0,2019-01-29,NaN,NaN,2019-04-27 07:43:51,NaN,Project 2,Abu Dhabi
2,Client 3,Lost order,0.0,2019-01-21,NaN,NaN,2019-04-27 07:16:53,NaN,Project 3,Abu Dhabi
3,Client 4,Lost order,37370.0,2019-04-13,New Business,Phone,2019-04-29 13:46:46,No Decision / Non-Responsive,Project 4,Abu Dhabi
4,Client 5,Lost order,4720.0,2019-04-13,New Business,Phone,2019-04-29 12:33:56,Other,Project 5,Abu Dhabi

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 10 columns):
Client Name         244 non-null object
Order Result        244 non-null object
Amount              244 non-null float64
Close Date          244 non-null datetime64[ns]
Business Type       134 non-null object
Lead Source         136 non-null object
Created Date        244 non-null datetime64[ns]
Loss Reason         107 non-null object
Project Name        242 non-null object
Project Location    195 non-null object
dtypes: datetime64[ns](2), float64(1), object(7)
memory usage: 19.1+ KB

In [7]:
df['Client Name'].value_counts(dropna = False)

Client 213    6
Client 21     4
Client 86     4
Client 186    3
Client 49     3
Client 29     2
Client 182    2
Client 6      2
Client 5      2
Client 52     2
Client 108    2
Client 175    2
Client 183    2
Client 45     2
Client 27     2
Client 118    2
Client 22     2
Client 11     2
Client 196    2
Client 138    1
Client 205    1
Client 146    1
Client 189    1
Client 124    1
Client 104    1
Client 128    1
Client 84     1
Client 110    1
Client 34     1
Client 70     1
             ..
Client 119    1
Client 13     1
Client 163    1
Client 113    1
Client 69     1
Client 114    1
Client 161    1
Client 42     1
Client 12     1
Client 56     1
Client 58     1
Client 117    1
Client 80     1
Client 174    1
Client 85     1
Client 15     1
Client 61     1
Client 10     1
Client 53     1
Client 211    1
Client 97     1
Client 63     1
Client 1      1
Client 179    1
Client 30     1
Client 160    1
Client 90     1
Client 155    1
Client 143    1
Client 137    1
Name: Client Name, Length: 215, dtype: int64

In [8]:
df['Client Name'].describe()

count            244
unique           215
top       Client 213
freq               6
Name: Client Name, dtype: object

In [9]:
df['Order Result'].value_counts(dropna = False)

Lost order    175
Won order      69
Name: Order Result, dtype: int64

In [10]:
df['Order Result'].describe()

count            244
unique             2
top       Lost order
freq             175
Name: Order Result, dtype: object

In [11]:
df['Amount'].describe()

count       244.000000
mean       4684.672132
std       26342.299172
min           0.000000
25%         287.500000
50%         625.000000
75%        1850.000000
max      372000.000000
Name: Amount, dtype: float64

In [13]:
df['Business Type'].describe()

count                   134
unique                    2
top       Existing Business
freq                     69
Name: Business Type, dtype: object

In [14]:
df['Business Type'].value_counts(dropna = False)

NaN                  110
Existing Business     69
New Business          65
Name: Business Type, dtype: int64

In [15]:
df['Loss Reason'].value_counts(dropna = False)

NaN                             137
Price                            42
No Decision / Non-Responsive     33
Other                             9
Order revised                     8
Rate fishing                      7
Equipment unavailable             3
Project                           2
No Budget / Lost Funding          2
Cross hirer                       1
Name: Loss Reason, dtype: int64

In [16]:
df['Loss Reason'].describe()

count       107
unique        9
top       Price
freq         42
Name: Loss Reason, dtype: object

In [17]:
df['Project Name'].describe()

count             242
unique            184
top       Project 133
freq               28
Name: Project Name, dtype: object

In [18]:
df['Project Location'].describe()

count       195
unique      103
top       Dubai
freq         12
Name: Project Location, dtype: object

In [19]:
df['Project Location'].value_counts()

Dubai                                12
Abu Dhabi                            11
Dubai Hills                          10
TBA                                   9
Sharjah                               8
Fujairah                              8
Jebel Ali                             7
Expo 2020                             7
Expo2020                              5
Al Warqa                              5
United Arab Emirates                  4
Solar Park                            4
Musafi Fujairah                       3
Deira Waterfront                      3
Khalifa Port                          3
La Mer                                2
Global Village                        2
Dubai South                           2
Mirdiff                               2
Dubai Silicon Oasis                   2
Noor 764 Townhouses                   2
Zahia City Center, Sharjah            2
Al Qudra                              2
Al Mariya Island, Abu Dhabi           1
Al Ain                                1
Abu Dhabi Region                      1
Solar park Dubai                      1
Dibba, Fujairah                       1
DIP 2                                 1
Solar Park, Dubai                     1
                                     ..
zahia city center Project Sharjah     1
Debate Al Habab                       1
Jumeirah Village Triangle             1
Nad Al Shiba                          1
Ghantoot                              1
Sharjah near Tilal City               1
FUJAIRAH                              1
R1086, Dubai Hills                    1
Noor 764 Town Houses                  1
Sheikh Khalifa Road Completion        1
Dubai-National Industries Park        1
Nishama                               1
Reem Island                           1
Mussafah, Abu Dhabi                   1
Margam Area                           1
Gunal Project                         1
Khalifa City                          1
Dubai Design District                 1
Mirfa                                 1
Al Qusais                             1
IBN Battuta                           1
Al Barsha, Al Khail Road, Dubai       1
Dubai Land, Dubai                     1
Al Faqa, Abu Dhabi                    1
Al Furjan, Dubai                      1
JAFZA, Dubai                          1
Awir Road                             1
Al Mariyah Island, Abu Dhabi          1
Musafi, Fujairah                      1
Al Nakheel Island, Dubai              1
Name: Project Location, Length: 103, dtype: int64

In [20]:
df.to_pickle('clean_dummy_data.pkl')